In [1]:
L =[]
L = list() #construtor de listas

In [14]:
dias =[3, 1, 10,]
dias[0]

3

In [9]:
dias[1]

1

In [10]:
dias[2]

10

In [15]:
Z = [3, 8, 9]

In [24]:
Z[0] = 7

In [25]:
Z

[7, 8, 9]

In [37]:
V = [6, 7, 5, 8, 9]
L = V
print(V==L)
print(V is L)
V[0]=5
print(V)
print(L)

True
True
[5, 7, 5, 8, 9]
[5, 7, 5, 8, 9]

In [34]:
L

[5, 7, 5, 8, 9]

In [35]:
a = [81, 82, 83]
b = a[:]    #cria um clone com fatia
print(a == b)
print(a is b)
b[0] = 5
print(a)
print(b)

True
False
[81, 82, 83]
[5, 82, 83]

In [44]:
uma_lista = ['a', 'b', 'c', 'd', 'e', 'f']
print(uma_lista[1:3])
print(uma_lista[:4])
print(uma_lista[3:])
print(uma_lista[:])

['b', 'c']
['a', 'b', 'c', 'd']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

In [48]:
a = [1, 2, 3]
b = a[:]
b[0] = 5
print(a[0])
#print(a[3])

1

In [148]:
minhaLista = [76, 92.3, "oi", True, 4, 76.]
minhaLista[5:] 
minhaLista[5:] = "pitomba", 76.
minhaLista[0] = 99, 76
minhaLista[3]
minhaLista[3] = "Cibele"
print(minhaLista)
if(minhaLista[0] == "oi"):
    print("oi = 0")
 
elif(minhaLista[1] == "oi"):
      print("oi = 1")
 
elif(minhaLista[2] == "oi"):
      print("oi = 2")
 
elif(minhaLista[3] == "oi"):
      print("oi = 3")
 
elif(minhaLista[4] == "oi"):
      print("oi = 4")
 
elif(minhaLista[5] == "oi"):
      print("oi = 5")

[(99, 76), 92.3, 'oi', 'Cibele', 4, 'pitomba', 76.0]
oi = 2

In [150]:
uma_lista1 = [4, 2, 8, 6, 5]
uma_lista1 = uma_lista1 + ["Cibele"]
print (uma_lista1)

[4, 2, 8, 6, 5, 'Cibele']

In [1]:
tupla_numeros =  (10, 20, 30)
tupla_numeros

(10, 20, 30)

In [2]:
tupla_nova = 10, 20, 30
tupla_nova

(10, 20, 30)

In [3]:
tupla_elemento = 10,
tupla_elemento

(10,)

In [4]:
nova_tupla = tuple('Teste')
nova_tupla

('T', 'e', 's', 't', 'e')

In [5]:
tupla_nomes = ('Marlene', 'Zezinho', 'Marlene', 'Cibele', 'Zuely')
tupla_nomes.count('Marlene')
print (tupla_nomes.count('Suely'))
print (tupla_nomes.count('Zezinho'))

0
1

In [8]:
tupla_teste = (1,2,2,3,4,4,4,5)
tupla_teste.count(4)
print (tupla_teste.count(4))

3